@{
    ViewBag.Title = "Home Page";
}

<div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/Arduino3.jpg');">
    </div>
    <div class="content-center">
        <div class="container">
            <h1 class="title">All devices is here.</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">What is the site for?</h2>
                    <h5 class="description">
                        Arduino is an open-source electronics platform based on easy-to-use hardware and software.
                        Arduino boards are able to read inputs - light on a sensor, a finger on a button, or a Twitter message - and turn it into an output - activating a motor,
                        turning on an LED, publishing something online. You can tell your board what to do by sending a set of instructions to the microcontroller on the board.
                    </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('../assets/img/Arduino1.jpg')">
                            <!-- First image on the left side -->
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('../assets/img/Arduino2.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('../assets/img/SmartHome.jpg')"></div>
                        <h3>What opportunities do we provide.</h3>
                        <p>
                            I dont know what we provide, more info when the project will be done 100%.
                            I dont know what we provide, more info when the project will be done 100%.
                            I dont know what we provide, more info when the project will be done 100%.
                            I dont know what we provide, more info when the project will be done 100%.
                            I dont know what we provide, more info when the project will be done 100%.
                        </p>
                        <p>
                            Some text.Some text.Some text.Some text.Some text.Some text.Some text.Some text.
                            Some text.Some text.Some text.Some text.Some text.Some text.Some text.Some text.
                            Some text.Some text.Some text.Some text.Some text.Some text.Some text.Some text.
                            Some text.Some text.Some text.Some text.Some text.Some text.Some text.Some text.
                            Some text.Some text.Some text.Some text.Some text.Some text.Some text.Some text.
                        </p>
                        <p>
                            To use all that we can provide you need to register.
                            To use all that we can provide you need to register.
                            To use all that we can provide you need to register.
                            To use all that we can provide you need to register.
                            To use all that we can provide you need to register.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="jumbotron" style ="background-image: url(../assets/img/login.jpg)!important; background-size: cover!important;">
        <h1><b>ASP.NET</b></h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-warning" style ="color : black!important" href="https://go.microsoft.com/fwlink/?LinkId=301865"><b>Learn more</b> &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-warning" style ="color : black!important" href="https://go.microsoft.com/fwlink/?LinkId=301866"><b>Learn more</b> &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-warning" style ="color : black!important" href="https://go.microsoft.com/fwlink/?LinkId=301867"><b>Learn more</b> &raquo;</a></p>
        </div>
    </div>*@
